*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d4a373;
}

.card{
    background: linear-gradient(60deg, #14213d, #ffffff, #14213d);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 100px auto 0;
    text-align: center;
    padding: 40px 35px;
    color: #003049;
    font-family:cursive;
    box-shadow: 0px 2px 15px rgb(38, 37, 37);

}

.container{
    padding: 40px;
}

.container p{
    padding-bottom: 10px;
}

.date{
    height: 30px;
    width: 60%;
    background: linear-gradient(60deg, #faedcd, #e5e5e5);
    border-radius: 30px;
    padding: 10px;
    border: none;
    box-shadow: 0px 2px 15px rgb(106, 106, 106);
}

.btn{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(90deg, #faedcd, #e5e5e5);
    border: none;
    box-shadow: 0px 2px 15px rgb(106, 106, 106);
    cursor: pointer;
}

.value{
    font-size: 22px;
    margin-top: 30px;
}
